body { background-color: #F7F9FB; font-family: 'Raleway', sans-serif; background-color: #FAFAFA; }

.board { text-align: center; margin: 20px; }

.column { box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12); border-radius: 7px; background-color: white; max-width: 100%; width: 310px; height: 400px; overflow: auto; margin: 10px; position: relative; }

.column-container { justify-content: center; margin: 20px auto; max-width: 100%; }

.column-container > div { display: inline-flex; flex-grow: 1; }

.card { border-bottom: 1px solid rgba(0, 0, 0, 0.12); transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1); font-family: 'Raleway', sans-serif; font-size: 1.5em; display: flex; justify-content: space-between; }

.card p { padding: 10px 16px; font-size: 16px; font-family: 'Raleway', sans-serif; }

ul { list-style-type: none; padding: 0; margin: 5px auto; min-height: 30px; }

li { padding: 0; margin: 0; text-align: center; }

.btn-delete { position: absolute; top: 0; right: 0; justify-content: flex-end; background-color: rgba(0, 0, 0, 0); border: none; border-radius: 5px; color: gray; margin: 2px; font-family: 'Raleway', sans-serif; }

.card-delete { display: none; background-color: rgba(0, 0, 0, 0); border: none; border-radius: 5px; color: gray; margin: 2px; font-family: 'Raleway', sans-serif; }

.create-column, .add-card { background-color: rgba(0, 0, 0, 0); border: none; border-radius: 5px; color: gray; font-family: 'Raleway', sans-serif; }

.add-card { font-size: 30px; width: 45px; height: 45px; padding: 0; }

.card-description { margin: 2px; }

.column-title { border-bottom: 2px solid rgba(0, 0, 0, 0.12); margin: 0 auto; padding: 15px 0; }

.card:hover .card-delete { display: inline-block; }
